@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("/public/fonts/FixelDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("/public/fonts/FixelDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("/public/fonts/FixelDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("/public/fonts/FixelDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  color: #121417;
}
